.about {
  margin-top: 43px;
  margin-bottom: 124px;
  &__mobile {
    display: none;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    & h3 {
      width: 362px;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
      color: #e4e5ea;
    }
    & h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
        #e4e5ea;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 30px;
    }
    & p {
      width: 275px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #e4e5ea;
    }
  }
  &__right {
    margin-top: 15px;
    text-align: right;
    &-top {
      margin-bottom: 40px;
      & h3 {
        width: 291px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #e4e5ea;
        & span {
          background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
            #e4e5ea;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-transform: uppercase;
        }
      }
    }
    &-center {
      display: flex;
      justify-content: space-between;
    }
    &-solution h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e4e5ea;
    }
    &-solution p {
      width: 135px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #e4e5ea;
      margin-top: 6px;
      margin-bottom: 30px;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-btn {
      max-width: 262px;
      width: 100%;
      background: #4077f3;
      padding: 21px 0;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #e4e5ea;
      justify-content: right;
      cursor: pointer;
    }
  }
}

.aboutbg__mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .about {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-image: url("../../assets/bg.png");
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 200px;
    height: 445px;
    width: 100%;
    margin-bottom: 41px;
    &__content {
      flex-direction: column;
      width: 100%;
    }
    &__left {
      margin-left: 14px;
      margin-bottom: 45px;
      & h3 {
        width: 272px;
        font-size: 36px;
        line-height: 44px;
      }
      & h1 {
        font-size: 36px;
        margin-bottom: 15px;
      }
      & p {
        width: 271px;
      }
    }
    &__right {
      &-top {
        margin-bottom: 20px;
        margin-left: 15px;
        & h3 {
          width: 272px;
          text-align: left;
        }
      }
      &-center {
        display: none;
      }
      &-bottom {
        display: none;
      }
      &-btn {
        display: none;
      }
    }
    &__mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 14px;
      margin-left: 15px;
      & div {
        display: flex;
        align-items: center;
      }
      & p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #e4e5ea;
        margin-left: 5px;
      }
    }
  }
}
